# Project 3

## Imports and integration

In [29]:
import pandas as pd
import numpy as np

In [30]:
import os
os.makedirs('Data/',exist_ok=True) # Confirm folder created
os.listdir("Data/")

['name.basics.tsv.gz',
 'title-akas-us-only.csv',
 'title.akas.tsv.gz',
 'title.basics.tsv.gz',
 'title.crew.tsv.gz',
 'title.episode.tsv.gz',
 'title.principals.tsv.gz',
 'title.ratings.tsv.gz',
 'title_basics.csv.gz',
 'title_ratings.csv.gz']

In [31]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"

In [32]:
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"

In [33]:
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"

In [34]:
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [35]:
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)

In [36]:
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

In [37]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [38]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [39]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1997
1  tt0000002            5.8       269
2  tt0000003            6.5      1886
3  tt0000004            5.5       178
4  tt0000005            6.2      2671

## Basics

In [40]:
basics = basics.replace({'\\N':np.nan})
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [41]:
# 1. Eliminate movies that are null for 'runtimeMinutes'
basics = basics[basics['runtimeMinutes'].notnull()]

In [42]:
# 2. Eliminate movies that are null for 'genres'
basics = basics[basics['genres'].notnull()]

In [43]:
# 3. Keep only titleType==Movie
basics = basics[basics['titleType'] == 'movie']

In [44]:
# 4. Convert the startYear column to float data type
basics['startYear'] = basics['startYear'].astype(float)

In [45]:
# 5. Filter the dataframe using startYear. Keep years between 2000-2021
basics = basics[(basics['startYear'] >= 2000) & (basics['startYear'] <= 2021)]

In [46]:
# 6. Eliminate movies that include "Documentary" in the genre
basics = basics[~basics['genres'].str.contains('Documentary')]

In [47]:
# 7. Keep only US movies
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(akas['titleId'])
keepers

34800       True
61111       True
67485       True
67663       True
80548       True
            ...
10215129    True
10215168    True
10215213    True
10215297    True
10215387    True
Name: tconst, Length: 139181, dtype: bool

In [48]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34800,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61111,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67485,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama
67663,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
80548,tt0082328,movie,Embodiment of Evil,Encarnação do Demônio,0,2008.0,NaN,94,Horror
...,...,...,...,...,...,...,...,...,...
10215129,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
10215168,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020.0,NaN,84,Thriller
10215213,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"
10215297,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019.0,NaN,123,Drama
10215387,tt9916730,movie,6 Gunn,6 Gunn,0,2017.0,NaN,116,Drama

# AKAS

In [49]:
akas = akas.replace({'\\N':np.nan})
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0

In [50]:
# Keep only US movies
akas = akas[akas['region'] == 'US']

# Ratings

In [51]:
ratings = ratings.replace({'\\N':np.nan})
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1997
1  tt0000002            5.8       269
2  tt0000003            6.5      1886
3  tt0000004            5.5       178
4  tt0000005            6.2      2671

In [52]:
# Filter ratings based on akas
keepers_ratings = ratings['tconst'].isin(akas['titleId'])

In [53]:
ratings = ratings[keepers_ratings]
ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1997
1        tt0000002            5.8       269
4        tt0000005            6.2      2671
5        tt0000006            5.0       182
6        tt0000007            5.4       836
...            ...            ...       ...
1356044  tt9916200            8.1       237
1356045  tt9916204            8.2       272
1356052  tt9916348            8.3        18
1356053  tt9916362            6.4      5555
1356058  tt9916428            3.5        17

[510691 rows x 3 columns]

## Saving Compressed .csv.gz Files

In [54]:
## Save current dataframe to file.
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [55]:
# Open saved file and preview again
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
4,tt0082328,movie,Embodiment of Evil,Encarnação do Demônio,0,2008.0,NaN,94,Horror

In [56]:
# Open saved file and preview again
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1997
1  tt0000002            5.8       269
2  tt0000005            6.2      2671
3  tt0000006            5.0       182
4  tt0000007            5.4       836