# 1. Data Preprocessing for Genre Normalization

In [2]:
# Libraries
import pandas as pd

In [3]:
basics = pd.read_csv(r'Data\title_basics.csv.gz')

In [4]:
# Renaming for easier coding
df = basics
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
4,tt0082328,movie,Embodiment of Evil,Encarnação do Demônio,0,2008.0,NaN,94,Horror

In [5]:
# Split genres into lists and explode immediately
df_exploded = df.assign(genres_split=df['genres'].str.split(',')).explode('genres_split')

In [6]:
# Get unique genres
unique_genres = sorted(df_exploded['genres_split'].unique())

In [7]:
# Mapping genres to integers
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))

In [8]:
# Create genre_id in the exploded dataframe
df_exploded['genre_id'] = df_exploded['genres_split'].map(genre_map)
title_genres = df_exploded[['tconst', 'genre_id']].drop_duplicates()

In [9]:
# Creating genres dataframe
genres = pd.DataFrame({
    'genre_id': genre_ints,
    'genre_name': unique_genres
})

# 2. Data Preprocessing for Discarding Unnecessary Information

In [10]:
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
4,tt0082328,movie,Embodiment of Evil,Encarnação do Demônio,0,2008.0,NaN,94,Horror

In [11]:
# Drop columns from title basics
cols_to_drop = ["originalTitle", "isAdult", "titleType", "genres"]
df.drop(columns=cols_to_drop, inplace=True)

In [12]:
df.head()

,tconst,primaryTitle,startYear,endYear,runtimeMinutes
0,tt0035423,Kate & Leopold,2001.0,NaN,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,NaN,70
2,tt0068865,Lives of Performers,2016.0,NaN,90
3,tt0069049,The Other Side of the Wind,2018.0,NaN,122
4,tt0082328,Embodiment of Evil,2008.0,NaN,94

# 3. MySQL Database Operations

## 1. Setting up the environment:

In [13]:
from sqlalchemy import create_engine, String, Text, Float, Integer

## 2. Connect to MySQL and Create a New Database:

In [14]:
from sqlalchemy import create_engine, exc

# Connect to MySQL server without specifying the database
DATABASE_URL = "mysql+mysqldb://root:root@localhost"
engine = create_engine(DATABASE_URL)

# Try creating the database
try:
    engine.execute("CREATE DATABASE movies;")
    print("Database 'movies' created successfully.")
except exc.SQLAlchemyError as e:
    print(f"Error: {str(e)}")

Error: (MySQLdb.ProgrammingError) (1007, "Can't create database 'movies'; database exists")
[SQL: CREATE DATABASE movies;]
(Background on this error at: https://sqlalche.me/e/14/f405)

## 3. Reconnect to the newly created database:

In [15]:
DATABASE_URL = "mysql+mysqldb://root:root@localhost/movies"
engine = create_engine(DATABASE_URL)

In [16]:
key_len = df['tconst'].fillna('').map(len).max()
title_len = df['primaryTitle'].fillna('').map(len).max()

df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

## 4. Save DataFrames to SQL:

In [17]:
# Importing title_ratings

# Path to file
file_path = "G:\\Github Desktop Reps\\Coding Dojo\\Project-3\\Data\\title.ratings.tsv.gz"

# Load the compressed TSV file into a pandas DataFrame
title_ratings_df = pd.read_csv(file_path, sep='\t', compression='gzip')

title_ratings_df.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1994
1  tt0000002            5.8       268
2  tt0000003            6.5      1883
3  tt0000004            5.5       177
4  tt0000005            6.2      2667

In [18]:
# Importing tmdb_df

# Paths to files
file_path_2000 = "G:\\Github Desktop Reps\\Coding Dojo\\Project-3\\Data\\final_tmdb_data_for_2000.csv.gz"
file_path_2001 = "G:\\Github Desktop Reps\\Coding Dojo\\Project-3\\Data\\final_tmdb_data_for_2001.csv.gz"

# Load the compressed CSV files into pandas DataFrames
data_2000 = pd.read_csv(file_path_2000, compression='gzip')
data_2001 = pd.read_csv(file_path_2001, compression='gzip')

# Concatenate the two DataFrames
tmdb_df = pd.concat([data_2000, data_2001], ignore_index=True)

tmdb_df.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.50,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.45,10.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.00,1.0,NaN
4,tt0116748,0.0,/wr0hTHwkYIRC82MwNbhOvqrw27N.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,579396.0,hi,Karobaar,...,0.0,180.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,The Business of Love,Karobaar,0.0,7.00,3.0,NaN

In [19]:
# Saving the tables to the database (ensure correct dtypes/schema for each)
df.to_sql('title_basics', engine, if_exists='replace', index=False)
title_ratings_df.to_sql('title_ratings', engine, if_exists='replace', index=False)
title_genres.to_sql('title_genres', engine, if_exists='replace', index=False)
genres.to_sql('genres', engine, if_exists='replace', index=False)
tmdb_df.to_sql('tmdb_data', engine, if_exists='replace', index=False)

4576

In [20]:
# Set primary keys for tables
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

OperationalError: (MySQLdb.OperationalError) (1170, "BLOB/TEXT column 'tconst' used in key specification without a key length")
[SQL: ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [21]:
result = engine.execute("SHOW INDEX FROM title_basics WHERE Key_name = 'PRIMARY';")
for row in result:
    print(row)

In [22]:
engine.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);')

OperationalError: (MySQLdb.OperationalError) (1170, "BLOB/TEXT column 'tconst' used in key specification without a key length")
[SQL: ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [23]:
result = engine.execute("SHOW INDEX FROM title_ratings WHERE Key_name = 'PRIMARY';")
for row in result:
    print(row)

In [ ]:
engine.execute('ALTER TABLE tmdb_data ADD PRIMARY KEY (`id`);')

OperationalError: (MySQLdb.OperationalError) (1138, 'Invalid use of NULL value')
[SQL: ALTER TABLE tmdb_data ADD PRIMARY KEY (`id`);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [24]:
result = engine.execute('SELECT COUNT(*) FROM tmdb_data WHERE id IS NULL;')
count_null_ids = result.fetchone()[0]
print(f"Number of NULL values in 'id' column: {count_null_ids}")

Number of NULL values in 'id' column: 2

In [25]:
new_id = -1
for _ in range(2):  # Since there are 2 NULL values
    engine.execute(f'UPDATE tmdb_data SET id = {new_id} WHERE id IS NULL LIMIT 1;')
    new_id -= 1

In [ ]:
engine.execute('ALTER TABLE tmdb_data ADD PRIMARY KEY (`id`);')

In [26]:
result = engine.execute('DESCRIBE tmdb_data;')
for row in result:
    print(row)

('imdb_id', 'text', 'YES', '', None, '')
('adult', 'double', 'YES', '', None, '')
('backdrop_path', 'text', 'YES', '', None, '')
('belongs_to_collection', 'text', 'YES', '', None, '')
('budget', 'double', 'YES', '', None, '')
('genres', 'text', 'YES', '', None, '')
('homepage', 'text', 'YES', '', None, '')
('id', 'double', 'YES', '', None, '')
('original_language', 'text', 'YES', '', None, '')
('original_title', 'text', 'YES', '', None, '')
('overview', 'text', 'YES', '', None, '')
('popularity', 'double', 'YES', '', None, '')
('poster_path', 'text', 'YES', '', None, '')
('production_companies', 'text', 'YES', '', None, '')
('production_countries', 'text', 'YES', '', None, '')
('release_date', 'text', 'YES', '', None, '')
('revenue', 'double', 'YES', '', None, '')
('runtime', 'double', 'YES', '', None, '')
('spoken_languages', 'text', 'YES', '', None, '')
('status', 'text', 'YES', '', None, '')
('tagline', 'text', 'YES', '', None, '')
('title', 'text', 'YES', '', None, '')
('video', 'double', 'YES', '', None, '')
('vote_average', 'double', 'YES', '', None, '')
('vote_count', 'double', 'YES', '', None, '')
('certification', 'text', 'YES', '', None, '')

In [27]:
result = engine.execute("SHOW INDEX FROM tmdb_data WHERE Key_name = 'PRIMARY';")
for row in result:
    print(row)

### Adjusting the Saving DataFrames to SQL Steps:

In [ ]:
# Saving the tables to the database (ensure correct dtypes/schema for each)

# df.to_sql('title_basics', engine, if_exists='replace', index=False)
# title_genres.to_sql('title_genres', engine, if_exists='replace', index=False)
# genres.to_sql('genres', engine, if_exists='replace', index=False)

# Set primary key for tables

# engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [28]:
tables = ['title_basics', 'title_genres', 'genres']
for table in tables:
    result = engine.execute(f"SELECT * FROM {table} LIMIT 5;")
    print(f"Table: {table}")
    for row in result:
        print(row)
    print("\n")

Table: title_basics
('tt0035423', 'Kate & Leopold', 2001.0, None, 118)
('tt0062336', 'The Tango of the Widower and Its Distorting Mirror', 2020.0, None, 70)
('tt0068865', 'Lives of Performers', 2016.0, None, 90)
('tt0069049', 'The Other Side of the Wind', 2018.0, None, 122)
('tt0082328', 'Embodiment of Evil', 2008.0, None, 94)


Table: title_genres
('tt0035423', 5)
('tt0035423', 9)
('tt0035423', 18)
('tt0062336', 7)
('tt0068865', 7)


Table: genres
(0, 'Action')
(1, 'Adult')
(2, 'Adventure')
(3, 'Animation')
(4, 'Biography')

## 5. Display the First 5 Rows for Each Table:

In [29]:
tables = ['title_basics', 'title_ratings', 'title_genres', 'genres', 'tmdb_data']
for table in tables:
    result = engine.execute(f"SELECT * FROM {table} LIMIT 5;")
    print(f"Table: {table}")
    for row in result:
        print(row)
    print("\n")

Table: title_basics
('tt0035423', 'Kate & Leopold', 2001.0, None, 118)
('tt0062336', 'The Tango of the Widower and Its Distorting Mirror', 2020.0, None, 70)
('tt0068865', 'Lives of Performers', 2016.0, None, 90)
('tt0069049', 'The Other Side of the Wind', 2018.0, None, 122)
('tt0082328', 'Embodiment of Evil', 2008.0, None, 94)


Table: title_ratings
('tt0000001', 5.7, 1994)
('tt0000002', 5.8, 268)
('tt0000003', 6.5, 1883)
('tt0000004', 5.5, 177)
('tt0000005', 6.2, 2667)


Table: title_genres
('tt0035423', 5)
('tt0035423', 9)
('tt0035423', 18)
('tt0062336', 7)
('tt0068865', 7)


Table: genres
(0, 'Action')
(1, 'Adult')
(2, 'Adventure')
(3, 'Animation')
(4, 'Biography')


Table: tmdb_data
('0', None, None, None, None, None, None, -1.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None)
('tt0113026', 0.0, '/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg', None, 10000000.0, "[{'id': 35, 'name': 'Comedy'}, {'id': 10402, 'name': 'Music'}, {'id': 10749, 'name': 'Romance'}]", None, 62127.0, 'en', 'The Fantasticks', 'Two rural teens sing and dance their way through a forbidden romance and a dangerous travelling carnival.', 2.621, '/hfO64mXz3DgUxkBVU7no2UWRP7x.jpg', "[{'id': 51207, 'logo_path': None, 'name': 'Sullivan Street Productions', 'origin_country': ''}, {'id': 51208, 'logo_path': None, 'name': 'Michael Rit ... (90 characters truncated) ...  Company, The', 'origin_country': ''}, {'id': 60, 'logo_path': '/1SEj4nyG3JPBSKBbFhtdcHRaIF9.png', 'name': 'United Artists', 'origin_country': 'US'}]", "[{'iso_3166_1': 'US', 'name': 'United States of America'}]", '2000-09-22', 0.0, 86.0, "[{'english_name': 'English', 'iso_639_1': 'en', 'name': 'English'}]", 'Released', 'Try to remember the first time magic happened', 'The Fantasticks', 0.0, 5.5, 22.0, None)
('tt0113092', 0.0, None, None, 0.0, "[{'id': 878, 'name': 'Science Fiction'}]", None, 110977.0, 'en', 'For the Cause', 'Earth is in a state of constant war and two colonies of humans have been sent to a far away world. The colonists create a new civilization but have i ... (22 characters truncated) ... its of their forebears and war breaks out leaving the new cities in ruins. It falls to a bunch of teens to bring peace to the colony - but will they?', 1.87, '/h9bWO13nWRGZJo4XVPiElXyrRMU.jpg', "[{'id': 7405, 'logo_path': '/rfnws0uY8rsNAsrLbx3gEIcYXx3.png', 'name': 'Dimension Films', 'origin_country': 'US'}, {'id': 12816, 'logo_path': None, ' ... (105 characters truncated) ... ien Holdings A.V.V.', 'origin_country': ''}, {'id': 925, 'logo_path': '/dIb9hjXNOkgxu4kBWdIdK8nM4w.png', 'name': 'Nu Image', 'origin_country': 'US'}]", "[{'iso_3166_1': 'US', 'name': 'United States of America'}]", '2000-11-15', 0.0, 100.0, "[{'english_name': 'English', 'iso_639_1': 'en', 'name': 'English'}]", 'Released', 'The ultimate showdown on a forbidden planet.', 'For the Cause', 0.0, 5.45, 10.0, None)
('tt0116391', 0.0, None, None, 0.0, "[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name': 'Action'}, {'id': 80, 'name': 'Crime'}]", None, 442869.0, 'hi', 'Gang', 'After falling prey to underworld, four friends jeopardise their personal lives with point of no return.', 2.307, '/yB5wRu4uyXXwZA3PEj8cITu0xt3.jpg', '[]', "[{'iso_3166_1': 'IN', 'name': 'India'}]", '2000-04-14', 0.0, 152.0, "[{'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'}]", 'Released', None, 'Gang', 0.0, 4.0, 1.0, None)
('tt0116748', 0.0, '/wr0hTHwkYIRC82MwNbhOvqrw27N.jpg', None, 0.0, "[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}]", None, 579396.0, 'hi', 'Karobaar', "Wealthy Rajiv Sinha and middle-classed Amar Saxena are two childhood friends, with similar likes, and tastes. Their similar habits lead them to being ... (667 characters truncated) ... illing a young woman named Neelam Mehta. Amar is delighted for he will be given a chance to teach Rajiv a lesson, and possibly sentence him to death.", 1.599, '/wFSOXXrJklY2ngjIJCus9c2DfJW.jpg', '[]', '[]', '2000-09-15', 0.0, 180.0, "[{'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'}]", 'Released', 'The Business of Love', 'Karobaar', 0.0, 7.0, 3.0, None)

## 6. Display the List of Tables:

In [30]:
result = engine.execute("SHOW TABLES;")
print("Tables in 'movies' database:")
for row in result:
    print(row[0])

Tables in 'movies' database:
genres
title_basics
title_genres
title_ratings
tmdb_data