# Project 3

## Imports and integration

In [12]:
import pandas as pd
import numpy as np

In [13]:
import os
os.makedirs('Data/',exist_ok=True) # Confirm folder created
os.listdir("Data/")

['name.basics.tsv.gz',
 'title-akas-us-only.csv',
 'title.akas.tsv.gz',
 'title.basics.tsv.gz',
 'title.crew.tsv.gz',
 'title.episode.tsv.gz',
 'title.principals.tsv.gz',
 'title.ratings.tsv.gz']

In [14]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"

In [15]:
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"

In [16]:
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"

In [17]:
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [18]:
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)

In [19]:
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

In [20]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [21]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [22]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1996
1  tt0000002            5.8       268
2  tt0000003            6.5      1883
3  tt0000004            5.5       177
4  tt0000005            6.2      2669

## Basics

In [23]:
basics = basics.replace({'\\N':np.nan})
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [27]:
# 1. Eliminate movies that are null for 'runtimeMinutes'
basics = basics[basics['runtimeMinutes'].notnull()]

In [28]:
# 2. Eliminate movies that are null for 'genres'
basics = basics[basics['genres'].notnull()]

In [29]:
# 3. Keep only titleType==Movie
basics = basics[basics['titleType'] == 'Movie']

In [30]:
# 4. Convert the startYear column to float data type
basics['startYear'] = basics['startYear'].astype(float)

In [31]:
# 5. Filter the dataframe using startYear. Keep years between 2000-2021
basics = basics[(basics['startYear'] >= 2000) & (basics['startYear'] <= 2021)]

In [32]:
# 6. Eliminate movies that include "Documentary" in the genre
basics = basics[~basics['genres'].str.contains('Documentary')]

In [34]:
# 7. Keep only US movies
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(akas['titleId'])
keepers

Series([], Name: tconst, dtype: bool)

In [35]:
basics = basics[keepers]
basics

Empty DataFrame
Columns: [tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres]
Index: []

# AKAS

In [24]:
akas = akas.replace({'\\N':np.nan})
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0

In [36]:
# Keep only US movies
akas = akas[akas['region'] == 'US']

# Ratings

In [25]:
ratings = ratings.replace({'\\N':np.nan})
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1996
1  tt0000002            5.8       268
2  tt0000003            6.5      1883
3  tt0000004            5.5       177
4  tt0000005            6.2      2669

## Saving Compressed .csv.gz Files

In [40]:
## Save current dataframe to file.
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [41]:
# Open saved file and preview again
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

Empty DataFrame
Columns: [tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres]
Index: []

In [42]:
# Open saved file and preview again
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1996
1  tt0000002            5.8       268
2  tt0000003            6.5      1883
3  tt0000004            5.5       177
4  tt0000005            6.2      2669