# 1. Data Preprocessing for Genre Normalization

In [14]:
# Libraries
import pandas as pd

In [15]:
basics = pd.read_csv(r'Data\title_basics.csv.gz')

In [16]:
# Renaming for easier coding
df = basics
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
4,tt0082328,movie,Embodiment of Evil,Encarnação do Demônio,0,2008.0,NaN,94,Horror

In [18]:
# Split genres into lists and explode immediately
df_exploded = df.assign(genres_split=df['genres'].str.split(',')).explode('genres_split')

In [19]:
# Get unique genres
unique_genres = sorted(df_exploded['genres_split'].unique())

In [20]:
# Mapping genres to integers
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))

In [21]:
# Create genre_id in the exploded dataframe
df_exploded['genre_id'] = df_exploded['genres_split'].map(genre_map)
title_genres = df_exploded[['tconst', 'genre_id']].drop_duplicates()

In [22]:
# Creating genres dataframe
genres = pd.DataFrame({
    'genre_id': genre_ints,
    'genre_name': unique_genres
})

# 2. Data Preprocessing for Discarding Unnecessary Information

In [24]:
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
2,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama,[Drama]
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
4,tt0082328,movie,Embodiment of Evil,Encarnação do Demônio,0,2008.0,NaN,94,Horror,[Horror]

In [25]:
# Drop columns from title basics
cols_to_drop = ["originalTitle", "isAdult", "titleType", "genres"]
df.drop(columns=cols_to_drop, inplace=True)

# 3. MySQL Database Operations

## 1. Setting up the environment:

In [26]:
from sqlalchemy import create_engine, String, Text, Float, Integer

## 2. Connect to MySQL and Create a New Database:

In [32]:
from sqlalchemy import create_engine, exc

# Connect to MySQL server without specifying the database
DATABASE_URL = "mysql+mysqldb://root:root@localhost"
engine = create_engine(DATABASE_URL)

# Try creating the database
try:
    engine.execute("CREATE DATABASE movies;")
    print("Database 'movies' created successfully.")
except exc.SQLAlchemyError as e:
    print(f"Error: {str(e)}")

Database 'movies' created successfully.

## 3. Reconnect to the newly created database:

In [41]:
DATABASE_URL = "mysql+mysqldb://root:root@localhost/movies"
engine = create_engine(DATABASE_URL)

## 4. Save DataFrames to SQL:

In [42]:
# Saving the tables to the database (ensure correct dtypes/schema for each)
df.to_sql('title_basics', engine, if_exists='replace', index=False)
title_ratings_df.to_sql('title_ratings', engine, if_exists='replace', index=False)
title_genres.to_sql('title_genres', engine, if_exists='replace', index=False)
genres.to_sql('genres', engine, if_exists='replace', index=False)
tmdb_df.to_sql('tmdb_data', engine, if_exists='replace', index=False)

# Set primary keys for tables
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')
engine.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);')
engine.execute('ALTER TABLE tmdb_data ADD PRIMARY KEY (`movie_id`);')

OperationalError: (pymysql.err.OperationalError) (1241, 'Operand should contain 1 column(s)')
[SQL: INSERT INTO title_basics (tconst, `primaryTitle`, `startYear`, `endYear`, `runtimeMinutes`, genres_split) VALUES (%(tconst)s, %(primaryTitle)s, %(startYear)s, %(endYear)s, %(runtimeMinutes)s, %(genres_split)s)]
[parameters: ({'tconst': 'tt0035423', 'primaryTitle': 'Kate & Leopold', 'startYear': 2001.0, 'endYear': None, 'runtimeMinutes': 118, 'genres_split': ['Comedy', 'Fantasy', 'Romance']}, {'tconst': 'tt0062336', 'primaryTitle': 'The Tango of the Widower and Its Distorting Mirror', 'startYear': 2020.0, 'endYear': None, 'runtimeMinutes': 70, 'genres_split': ['Drama']}, {'tconst': 'tt0068865', 'primaryTitle': 'Lives of Performers', 'startYear': 2016.0, 'endYear': None, 'runtimeMinutes': 90, 'genres_split': ['Drama']}, {'tconst': 'tt0069049', 'primaryTitle': 'The Other Side of the Wind', 'startYear': 2018.0, 'endYear': None, 'runtimeMinutes': 122, 'genres_split': ['Drama']}, {'tconst': 'tt0082328', 'primaryTitle': 'Embodiment of Evil', 'startYear': 2008.0, 'endYear': None, 'runtimeMinutes': 94, 'genres_split': ['Horror']}, {'tconst': 'tt0088751', 'primaryTitle': 'The Naked Monster', 'startYear': 2005.0, 'endYear': None, 'runtimeMinutes': 100, 'genres_split': ['Comedy', 'Horror', 'Sci-Fi']}, {'tconst': 'tt0096056', 'primaryTitle': 'Crime and Punishment', 'startYear': 2002.0, 'endYear': None, 'runtimeMinutes': 126, 'genres_split': ['Drama']}, {'tconst': 'tt0100275', 'primaryTitle': 'The Wandering Soap Opera', 'startYear': 2017.0, 'endYear': None, 'runtimeMinutes': 80, 'genres_split': ['Comedy', 'Drama', 'Fantasy']}  ... displaying 10 of 138501 total bound parameter sets ...  {'tconst': 'tt9916538', 'primaryTitle': 'Kuambil Lagi Hatiku', 'startYear': 2019.0, 'endYear': None, 'runtimeMinutes': 123, 'genres_split': ['Drama']}, {'tconst': 'tt9916730', 'primaryTitle': '6 Gunn', 'startYear': 2017.0, 'endYear': None, 'runtimeMinutes': 116, 'genres_split': ['Drama']})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

### Adjusting the Saving DataFrames to SQL Steps:

In [43]:
# Saving the tables to the database (ensure correct dtypes/schema for each)
df.to_sql('title_basics', engine, if_exists='replace', index=False)
title_genres.to_sql('title_genres', engine, if_exists='replace', index=False)
genres.to_sql('genres', engine, if_exists='replace', index=False)

# Set primary key for tables
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

OperationalError: (pymysql.err.OperationalError) (1241, 'Operand should contain 1 column(s)')
[SQL: INSERT INTO title_basics (tconst, `primaryTitle`, `startYear`, `endYear`, `runtimeMinutes`, genres_split) VALUES (%(tconst)s, %(primaryTitle)s, %(startYear)s, %(endYear)s, %(runtimeMinutes)s, %(genres_split)s)]
[parameters: ({'tconst': 'tt0035423', 'primaryTitle': 'Kate & Leopold', 'startYear': 2001.0, 'endYear': None, 'runtimeMinutes': 118, 'genres_split': ['Comedy', 'Fantasy', 'Romance']}, {'tconst': 'tt0062336', 'primaryTitle': 'The Tango of the Widower and Its Distorting Mirror', 'startYear': 2020.0, 'endYear': None, 'runtimeMinutes': 70, 'genres_split': ['Drama']}, {'tconst': 'tt0068865', 'primaryTitle': 'Lives of Performers', 'startYear': 2016.0, 'endYear': None, 'runtimeMinutes': 90, 'genres_split': ['Drama']}, {'tconst': 'tt0069049', 'primaryTitle': 'The Other Side of the Wind', 'startYear': 2018.0, 'endYear': None, 'runtimeMinutes': 122, 'genres_split': ['Drama']}, {'tconst': 'tt0082328', 'primaryTitle': 'Embodiment of Evil', 'startYear': 2008.0, 'endYear': None, 'runtimeMinutes': 94, 'genres_split': ['Horror']}, {'tconst': 'tt0088751', 'primaryTitle': 'The Naked Monster', 'startYear': 2005.0, 'endYear': None, 'runtimeMinutes': 100, 'genres_split': ['Comedy', 'Horror', 'Sci-Fi']}, {'tconst': 'tt0096056', 'primaryTitle': 'Crime and Punishment', 'startYear': 2002.0, 'endYear': None, 'runtimeMinutes': 126, 'genres_split': ['Drama']}, {'tconst': 'tt0100275', 'primaryTitle': 'The Wandering Soap Opera', 'startYear': 2017.0, 'endYear': None, 'runtimeMinutes': 80, 'genres_split': ['Comedy', 'Drama', 'Fantasy']}  ... displaying 10 of 138501 total bound parameter sets ...  {'tconst': 'tt9916538', 'primaryTitle': 'Kuambil Lagi Hatiku', 'startYear': 2019.0, 'endYear': None, 'runtimeMinutes': 123, 'genres_split': ['Drama']}, {'tconst': 'tt9916730', 'primaryTitle': '6 Gunn', 'startYear': 2017.0, 'endYear': None, 'runtimeMinutes': 116, 'genres_split': ['Drama']})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [44]:
tables = ['title_basics', 'title_genres', 'genres']
for table in tables:
    result = engine.execute(f"SELECT * FROM {table} LIMIT 5;")
    print(f"Table: {table}")
    for row in result:
        print(row)
    print("\n")

Table: title_basics

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'movies.title_genres' doesn't exist")
[SQL: SELECT * FROM title_genres LIMIT 5;]
(Background on this error at: https://sqlalche.me/e/14/f405)

## 5. Display the First 5 Rows for Each Table:

In [45]:
tables = ['title_basics', 'title_ratings', 'title_genres', 'genres', 'tmdb_data']
for table in tables:
    result = engine.execute(f"SELECT * FROM {table} LIMIT 5;")
    print(f"Table: {table}")
    for row in result:
        print(row)
    print("\n")

Table: title_basics

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'movies.title_ratings' doesn't exist")
[SQL: SELECT * FROM title_ratings LIMIT 5;]
(Background on this error at: https://sqlalche.me/e/14/f405)

## 6. Display the List of Tables:

In [46]:
result = engine.execute("SHOW TABLES;")
print("Tables in 'movies' database:")
for row in result:
    print(row[0])

Tables in 'movies' database:
title_basics